
<html>
<head>
	<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
  text-align: center;
}

</style>
<title>team</title>
</head>
<body>
<div>	
<h3>Ценности и инсайты для бизнеса</h3></br>
<p>Быстрее формировать привычку покупать в Сбермаркете: </p></br>

<p>👩🏻‍💻 уменьшение интервалов времени между заказами</p></br>

<p>🛍 снятие ограничения на минимальный размер корзины </p></br>
<p>(платной доставки) в нескольких первых заказах </p></br>

<p>🎁 импульсивные покупки</p></br>

<p>📱 различные категории товаров в корзине</p></br></br></br>

</div>
<div>
<a href="https://habr.com/ru/company/ru_mts/blog/485976/" target="_blank">📚 Туториал по Uplift моделированию</a>
</div>

</body>
</html>
