
<html>
<head>
	<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
  text-align: center;
}

</style>
<title>team</title>
</head>
<body>

	

<div class="row" >
  <img src="{{ 'images/Slide2.jpg' | relative_url }}" alt="Slide2" style="width:600px">
</div>
<div class="row" >
  <img src="{{ 'images/Slide3.jpg' | relative_url }}" alt="Slide3" style="width:600px">
</div>
<div class="row" >
  <img src="{{ 'images/Slide4.jpg' | relative_url }}" alt="Slide4" style="width:600px">
</div>
<div class="row" >
  <img src="{{ 'images/Slide5.jpg' | relative_url }}" alt="Slide5" style="width:600px">
</div>
<div class="row" >
  <img src="{{ 'images/Slide6.jpg' | relative_url }}" alt="Slide6" style="width:600px">
</div>

	
	






</body>
</html>
