
<html>
<head>
	<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
  text-align: center;
}

</style>
<title>team</title>
</head>
<body>

<div class="row" >
  <img src="{{ 'images/solution.jpg' | relative_url }}" alt="solution" style="width:600px">
</div>
<div class="row" >
  <img src="{{ 'images/shap.jpg' | relative_url }}" alt="shap values" style="width:600px">
</div>





</body>
</html>
