
<html>
<head>
	<style>
* {
  box-sizing: border-box;
}	
		
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
  text-align: center;
}

</style>
<title>team</title>
</head>
<body>

<div class="row" >
  <div class="column">
    <img src="{{ 'images/irina.png' | relative_url }}" alt="Irina Elisova" style="width:200px">
    <div class="center">
    	<p>Ирина Елисова </p> <a href="https://www.linkedin.com/in/iraelisova/">
<img border="0" alt="LinkedIn" src="{{ 'images/174857.png' | relative_url }}"  width="20" > 
    </div>
  </div>
  <div class="column">
    <img src="{{ 'images/anna.png' | relative_url }}" alt="Anna Rozhkova" style="width:200px">
    	<div class="center">
    		<p>Анна Рожкова </p>
			<a href="https://www.linkedin.com/in/ann-rozhkova-b1730072/">
				<img border="0" alt="LinkedIn" src="{{ 'images/174857.png' | relative_url }}" width="20" >
		
		</div>
  </div>
</div>


<div class="row">  
  <div class="column">
    <img src="{{ 'images/olga.png' | relative_url }}" alt="Olga Gerasimova" style="width:200px">
    <div class="center">
    	<p>Ольга Герасимова
		
	    </p>
    	</div>
  </div>
  <div class="column">
    <img src="{{ 'images/alina.png' | relative_url }}" alt="Alina Zhukova" style="width:200px">
    <div class="center">
    	<p>Алина Жукова</p>
    </div>
  </div>  
</div>


</body>
</html>
