
<html>
<head>
	<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
  text-align: center;
}

</style>
<title>team</title>
</head>
<body>

<div class="row" >
  <div class="column">
    <img src="/images/irina.png" alt="Irina Elisova" style="width:200px">
    <div class="center">
    	<p>Ирина Елисова</p>
    </div>
  </div>
  <div class="column">
    <img src="/images/anna.png" alt="Anna Rozhkova" style="width:200px">
    	<div class="center">
    		<p>Анна Рожкова</p>
		</div>
  </div>
</div>


<div class="row">  
  <div class="column">
    <img src="/images/olga.png" alt="Olga Gerasimova" style="width:200px">
    <div class="center">
    	<p>Ольга Герасимова</p>
    	</div>
  </div>
  <div class="column">
    <img src="/images/alina.png" alt="Alina Zhukova" style="width:200px">
    <div class="center">
    	<p>Алина Жукова</p>
    </div>
  </div>  
</div>


</body>
</html>
